html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.container {
    margin-top: 2.5%;
}

.new-post {
    padding: 16px 0;
    border-bottom: 1px solid #cccccc
}

.posts {
    margin-top: 2.5%;
}

.new-post header,
.post header {
    margin-bottom: 20px;
}

.posts .post {
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 30px;
}

.posts .post .info {
    color: #aaaaaa;
    font-style: italic;
}

.error {
    background-color: #da515a;
    color: white;
    border: 1px solid red;
    border-radius: 15px;
    width: 50vw;
    height: 7.5vh;
    text-align: center;
}

.error ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.succes {
    background-color: #54aa54;
    color: white;
    border-radius: 15px;
    width: 50vw;
    height: 7.5vh;
    text-align: center;
}